<!DOCTYPE html>
<html lang="es">
<head>
    <title>Fake Apps</title>
</head>

<div class="container">
    <h1>Fake App DataBase</h1>
</div>
<div class="container">
    <p>Una base de datos de aplicaciones falsas para todo tipo de tareas y proyectos escolares, libre de derechos para ser usadas en cualquier lugar y ocasión.</p>
    <p>La base de datos esta conformada por 5 campos: el nombre de la Aplicación, el nombre del Desarrollador, la fecha en que se liberó, la compañía creadora o patrocinadora y la ultima versión liberada.</p>

    <p>
       <button type="submit">Buscar</button>
    </p>   
</div>
</html>
