<!DOCTYPE html>
<html lang="es">
<head>
    <title>Acerca de los Tiburones</title>
</head>

    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

<div class="container">
    <h1>Shark Info</h1>
</div>
<div class="container">
    <p>Some sharks are known to be dangerous to humans, though many more are not. The sawshark, for example, is not considered a threat to humans.
    </p>
    <p>Other sharks are known to be friendly and welcoming!</p>

    <p>
       <div class="container">Sharks DataBase</div>
	<p></p>
       <button type="submit">Shearch</button>
    </p>   
</div>
</html>
